<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Me.</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/../images/icons/miau.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/../images/icons/miau.png">
    <link rel="manifest" href="/site.webmanifest">

</head>

<body id="top">


    <!-- site header
    ================================================== -->
    <header class="s-header">
        <%- include('../templates/nav'); %>
    </header> 
    <!-- end s-header -->






     <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="about-me">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">About Me</h2>
                </div>
            </div>

            <div class="row about-me__content" data-aos="fade-up">
                <div class="column large-full about-me__text">
                    <p class="lead">
                        Estudiante en el Tecnologo Análisis y Desarrollo en Sistemas Informáticos
                        con asignaturas dirigidas al Razonamiento Analítico, Bases de Datos, 
                        BackEnd y FrontEnd, gran capacidad de solución de problemas y adaptabilidad.
                    </p>

                    <p>
                        Aparte de ser un desarrollador web, 
                        disfruto la mayor parte de mi tiempo en los libros. 
                        En los días lluviosos, me gusta disfrutar un buen libro 
                        o ver una pelicula. Durante los meses más cálidos aquí 
                        en Bogotá, disfruto de los atardeceres, comer helado y pasar tiempo en familia.
                   
                    </p>

                    <p>
                                               

                        Con don de creatividad y competencia en gestión de trabajo y tiempo,
                        siendo estudiante de ultimo año. Proactividad, eficiencia y manejo 
                        de funcionalidades son valores fundamentales en mi carrera. 
                        Aspiro a ser diseñadora digital especializada en UX/UI formando
                        parte de un estudio en Europa, con un trabajo en equipo formidable
                        y con grandes conocimientos, aportando mis habilidades comunicativas y de organización. 
                    </p>

                    <p>
                        Soy un aspirante a profesional 
                        de marketing o diseño ux/iu y paso gran parte de 
                        mi tiempo libre explorando los diferentes 
                        fuentes creativas en el mundo del desarrollo web front-end, viendo diferentes
                        tipos de opciones, mirando y aportado conocimiento en el tema de 
                        diseño.
                    </p>
                </div>
            </div>
    
            <div class="row about-me__buttons">
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="/../works" class="btn btn--stroke full-width">Mis Preferencias</a>
                </div>
                <div class="column large-half tab-full" data-aos="fade-up">
                    <a href="#0" class="btn btn--primary full-width">Descargar CV</a>
                </div>
            </div>

        </div> <!-- end about-me -->
        

        <div class="about-experience">

            <div class="row heading-block" data-aos="fade-up">
                <div class="column large-full">
                    <h2 class="section-heading">Pasatiempos & Educación </h2>
                </div>
            </div>

          
            <div class="row about-experience__timeline">

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--happy"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Enero 2021 - Presente</p>
                                <h3 class="item-title">Hogar</h3>
                                <h5>Meditación</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    Me produce un estado de relajamiento 
                                    profundo y una mente tranquila. 
                                    Durante la meditación, concentro tu atención y
                                    eliminas el flujo de pensamientos confusos 
                                    que pueden estar llenando tu mente y provocándote estrés.
                                    Este proceso puede resultar en un realce del bienestar físico y emocional.  
                                </p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">2013 - Presente</p>
                                <h3 class="item-title">Anywhere</h3>
                                <h5>Leer</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    Es un hábito de comunicación que permite 
                                    desarrollar los pensamientos cognitivos e 
                                    interactivos de cualquier lector, 
                                    el leer permite construir con 
                                    facilidad nuevos conocimientos. Ayuda al desarrollo 
                                    y perfeccionamiento del lenguaje. 
                                    Mejora la expresión oral y escrita y hace el lenguaje más fluido.
                                </p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">All My Life</p>
                                <h3 class="item-title">Hogar</h3>
                                <h5>Cuidado Facial y Corporal</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    La salud, la belleza y el autocuidado, como por ejemplo
                                    el maquillaje, las rutinas faciales, la alimentacion...
                                     son una de las tantas cosas por las que 
                                     las personas se preocupan. Son de las cosas mas importantes en mi vida
                                     pues esto previene enfermedades, mala salud y una piel sana.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>  

                <div class="column large-half tab-full" data-aos="fade-up">
                    <div class="timeline">

                        <div class="timeline__icon-wrap">
                            <span class="timeline__icon timeline__icon--education"></span>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Enero 2011 - Diciembre 2021</p>
                                <h3 class="item-title">Alberto Lleras Camargo</h3>
                                <h5>Bachillerato</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    Graduada del colegio Alberto Lleras Camargo en el 2021,
                                     fue uno de mis grandes logros
                                    ya que apesar de no salir con un reconocimiento, 
                                    a lo largo del ultimo año de escula estuve un
                                    gran dendimiento academico, recibiendo elogios
                                     por parte de las personas academicas 
                                    (docentes, orientadores y coordinadores), 
                                    por supuesto tambien por parte de mi familia,
                                    a los que siempre estuvieron para mi.
                                </p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Enero 2020 - Noviembre 2021</p>
                                <h3 class="item-title">Servicio Nacional de Aprendizaje</h3>
                                <h5>Técnico Programación de Software</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    Graduada del tecnico formativo del sena, 
                                    como enfasis seleccionado en el colegio con proyecto academico, con 
                                    el conocimiento en analisar los requisitos del cliente para construir el sistema de informacion,
                                    comprender textos en ingles en forma escrita y auditiva,
                                    construir y refuerzon en las habilidades blandas.
                                    
                                </p>
                            </div>
                        </div>

                        <div class="timeline__block">
                            <div class="timeline__bullet"></div>
                            <div class="timeline__header">
                                <p class="timeline__timeframe">Diciembre 2021 - Presente</p>
                                <h3 class="item-title">Servicio Nacional de Aprendizaje</h3>
                                <h5>Tecnologo en ADSI</h5>
                            </div>
                            <div class="timeline__desc">
                                <p>
                                    Estudiante del tecnologo de Analisis y Desarrollo 
                                    de Sistemas Informaticos, con proyecto formativo individual, 
                                    asignaturas orientadas a el FronEnd, BackEnd, 
                                    Analisis de Documentos y Bases de Datos.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div> <!-- end about-experience -->

    </section> <!-- end s-about -->









    <!-- footer
    ================================================== -->
 
    <%- include('../templates/footer'); %>
 
    <!-- footer
    ================================================== -->








    
    <!-- Java Script
    ================================================== -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>