<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>call me</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/../css/base.css">
    <link rel="stylesheet" href="/../css/vendor.css">
    <link rel="stylesheet" href="/../css/main.css">

    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/../../images/icons/miau.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/../../images/icons/miau.png">
    <link rel="manifest" href="/../site.webmanifest">

</head>

<body id="top">

    <!-- site header
    ================================================== -->
    <header class="s-header">
        <%- include('../templates/nav'); %>
    </header> 
    <!-- end s-header -->







    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact ss-dark target-section">

        <div class="row heading-block" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading">Contactar</h2>
            </div>
        </div>

        <div class="row contact-main" data-aos="fade-up">
            <div class="column large-full">
                <p class="contact-email">
                    <a href="mailto:#0">bsolangie.qruiz</a>
                </p>

                <p class="section-desc">
                Si necesitas alguna ayuda para un proyecto o quieres
                tener a una gran persona llena de creatividad y solución 
                <a href="mailto:#0">Email Me</a>.
                </p>
            </div>
        </div>

        <div class="row contact-infos" data-aos="fade-up" data-aos-anchor=".contact-main">

            <div class="column large-5 medium-full contact-phone">
                <h4>Llamame</h4>
                <a href="tel:197-543-2345">(+57) 322301876 </a>
            </div>

            <div class="column large-7 medium-full contact-social">
                <h4>Redes</h4>
                <ul>
                    <li><a href="#0" title="Facebook">Facebook</a></li>
                    <li><a href="#0" title="Twitter">Twitter</a></li>
                    <li><a href="#0" title="Instagram">Instagram</a></li>
                </ul>
            </div>

        </div> <!-- end contact-infos -->

    </section> <!-- end s-contact -->











     <!-- footer
    ================================================== -->
 
    <%- include('../templates/footer'); %>
 
    <!-- footer
    ================================================== -->
    

  <!-- Java Script
    ================================================== -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>

    
</body>
</html>