<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Te ofrezco...</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/../images/icons/miau.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/../images/icons/miau.png">
    <link rel="manifest" href="/site.webmanifest">

</head>

<body id="top">

  <!-- site header
    ================================================== -->
    <header class="s-header">
        <%- include('../templates/nav'); %>
    </header> 
    <!-- end s-header -->



    
    <!-- services
    ================================================== -->
    <section id="services" class="s-services ss-dark target-section">

        <div class="shadow-overlay"></div>

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">Habilidades</h2>

                <p class="section-desc">
                     Creatividad y Conocimiento, las mejores opciones para tus proyectos.
                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="row services-list block-large-1-3 block-medium-1-2 block-tab-full">

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Brand Identity</h4>
                    <p>
                        Son las características que forman 
                        una marca y la hacen única y reconocible a ojos de los consumidores. 
                        Va mucho más allá de un logotipo o un tagline; y 
                        se refiere más a los valores, rasgos y  
                        elementos de expresión que la definen y dotan de personalidad.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Analytical Reasoning</h4>
                    <p>
                        Es la capacidad de una persona de hallar 
                        patrones en la información que recibe,
                        ya sea de naturaleza cuantitativa o cualitativa.​ 
                        También se describe como la capacidad de dividir un problema 
                        complejo en partes más simples para resolverlas una a una.​
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Web Design</h4>
                    <p>
                        Consiste en aplicar un conjunto de 
                        conocimientos de programación, psicología, 
                        diseño y comunicación con el fin de crear 
                        sitios web con las características y 
                        requisitos necesarios para representar 
                        un negocio, empresa o actividad en Internet.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Requirements gathering</h4>
                    <p>
                        La recopilación de requisitos es el proceso 
                        de identificar los requisitos exactos de su
                        proyecto de principio a fin. Este proceso 
                        ocurre durante la fase de inicio del proyecto,
                        pero continuará administrando los requisitos 
                        de su proyecto a lo largo de la línea de tiempo del proyecto.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">UI/UX Design</h4>
                    <p>
                        UI se refiere a la creación de la interfaz,
                        que puede ser gráfica o desarrollada principalmente 
                        con lenguajes como HTML, CSS o Javascript,
                        mientras que UX se centra en la usabilidad, 
                        enfocándose en el análisis y las relaciones sociales.
                    </p>
                </div>
            </div>

            <div class="column item-service" data-aos="fade-up">
                <div class="item-service__content">
                    <h4 class="item-title">Database Management</h4>
                    <p>
                        permite que una persona organice, almacene y
                        recupere datos de una computadora.
                        La gestión de bases de datos también puede 
                        describir el almacenamiento de datos, 
                        las operaciones y las prácticas de seguridad 
                        de un administrador de bases de datos (DBA) 
                        a lo largo del ciclo de vida de los datos.
                    </p>
                </div>
            </div>

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->





     <!-- footer
    ================================================== -->
 
    <%- include('../templates/footer'); %>
 
    <!-- footer
    ================================================== -->



      <!-- Java Script
    ================================================== -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>



    
</body>
</html>