<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>ILT</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
    <script src="/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/../images/icons/miau.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/../images/icons/miau.png">
    <link rel="manifest" href="/site.webmanifest">

</head>

<body id="top">

    <!-- site header
    ================================================== -->
    <header class="s-header">
        <%- include('../templates/nav'); %>
    </header> 
    <!-- end s-header -->



    
    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column large-full">
                <h2 class="section-heading section-heading--centerbottom">UX & IU</h2>
                <p class="section-desc">
                    These are some of my 
                    preferences and 
                    aspirations in the FrontEnd theme, <br>
                    Feel free to check them out.
                </p>
            </div>
        </div> <!-- end heading-block -->

        <div class="masonry-wrap">

            <div class="masonry">
                <div class="grid-sizer"></div>
    
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="/images/portfolio/pref/0_3.jpg" 
                            class="thumb-link" title="Shutterbug" data-size="1050x700">
                                
                                <img src="/images/portfolio/pref/0_3.jpg" 
                                     srcset="/images/portfolio/pref/0_3.jpg 1x,
                                     /images/portfolio/pref/0_3.jpg 2x" alt="">
                            </a>  
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Menu de Cafeteria
                            </h4>
                            <p class="item-folio__cat">
                                UX
                            </p>
                        </div>
                        
                    </div>
                </div> <!-- end masonry__brick -->
    
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="/images/portfolio/pref/0_7.png" 
                            class="thumb-link" title="Woodcraft" data-size="1050x700">

                                <img src="/images/portfolio/pref/0_7.png" 
                                     srcset="/images/portfolio/pref/0_7.png 1x, 
                                     /images/portfolio/pref/0_7.png 2x" alt="">
                            </a>
                            </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Pagina Web
                            </h4>
                            <p class="item-folio__cat">
                                UX/IU
                            </p>
                        </div>
                        
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="/images/portfolio/pref/0_4.png" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                <img src="/images/portfolio/pref/0_4.png"
                                     srcset="/images/portfolio/pref/0_4.png 1x, 
                                     /images/portfolio/pref/0_4.png 2x" alt="">
                            </a>
                            </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Diseños de Pedido
                            </h4>
                            <p class="item-folio__cat">
                                UI/UX
                            </p>
                        </div>
                       
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="/images/portfolio/pref/0_2.jpg" class="thumb-link" title="Grow Green" data-size="1050x700">
                                <img src="/images/portfolio/pref/0_2.jpg" 
                                     srcset="/images/portfolio/pref/0_2.jpg 1x, 
                                     /images/portfolio/pref/0_2.jpg 2x" alt="">
                            </a>
                            </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Diseño de Sección de Productos
                            </h4>
                            <p class="item-folio__cat">
                                Cosmeticos
                            </p>
                        </div>
                      
                    </div>
                </div> <!-- end masonry__brick -->

                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="/images/portfolio/pref/0_8.jpg" class="thumb-link" title="Guitarist" data-size="1050x700">
                                <img src="/images/portfolio/pref/0_8.jpg" 
                                     srcset="/images/portfolio/pref/0_8.jpg 1x, 
                                     /images/portfolio/pref/0_8.jpg 2x" alt="">
                            </a>
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link" target="_blank"></a>
                        </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Portafolio de Fashion & Models
                            </h4>
                            <p class="item-folio__cat">
                                Pagina Web y Responsive
                            </p>
                        </div>
                        
                    </div>
                </div> <!-- end masonry__brick -->
        
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                            
                        <div class="item-folio__thumb">
                            <a href="/images/portfolio/pref/0_6.png" class="thumb-link" title="Palmeira" data-size="1050x700">
                                <img src="/images/portfolio/pref/0_6.png"
                                     srcset="/images/portfolio/pref/0_6.png 1x, 
                                     /images/portfolio/pref/0_6.png 2x" alt="">
                            </a>
                             </div>
                        <div class="item-folio__text">
                            <h4 class="item-folio__title">
                                Movile Design de Museo
                            </h4>
                            <p class="item-folio__cat">
                                UX/IU
                            </p>
                        </div>
                        
                    </div>
                </div> <!-- end masonry__brick -->

            </div> <!-- end masonry -->

        </div> <!-- end masonry-wrap -->

    </section> <!-- end s-work -->

    
    <!-- footer
    ================================================== -->
 
    <%- include('../templates/footer'); %>
 
    <!-- footer
    ================================================== -->


      <!-- Java Script
    ================================================== -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>





    
</body>
</html>