<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>¡Holuu!</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/../public/css/base.css">
    <link rel="stylesheet" href="/../public/css/vendor.css">
    <link rel="stylesheet" href="/../public/css/main.css">

    <!-- script
    ================================================== -->
    <script src="/../public/js/modernizr.js"></script>
    <script src="/../public/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/../images/icons/miau.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/../images/icons/miau.png">
    <link rel="manifest" href="/site.webmanifest">

</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- site header
    ================================================== -->
    <header class="s-header">

        

        <nav class="header-nav-wrap">
            <ul class="header-main-nav">
                <li class="current"><a class="" href="/cv/" title="intro">Inicio</a></li>
                <li><a class="" href="/cv/about" title="about">About</a></li>
                <li><a class="" href="/cv/servicies" title="services">Services</a></li>
                <li><a class="" href="/cv/works" title="wanna">I wanna</a></li>
                <li><a class="" href="/cv/me" title="contact us">Contact</a></li>	
            </ul>

            <ul class="header-social">
                <li><a target="_blank"  href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a target="_blank"  href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li>
                    
                    <a target="_blank" href="https://github.com/bsquintana55/portafolioSolecitoQui">
                    <i class="fab fa-github" aria-hidden="true"></i></a>
                </li>
                <li><a target="_blank"   href="#0"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#"><span>Menu</span></a>

    </header> <!-- end s-header -->

    <script src="/../public/js/jquery-3.2.1.min.js"></script>
    <script src="/../public/js/plugins.js"></script>
    <script src="/../public/js/main.js"></script>

</body>
</html>